.site-footer
  .section-one
    a.logo(href="./")
    .introduction
      | 网站介绍网站介绍网站介绍网站介绍网站介绍网站介绍网站介绍网站介绍网站介绍网站介绍网站介绍网站介绍网站介绍网站介绍网站介绍网站介绍网站介绍网站介绍网站介绍网站介绍网站介绍网站介绍
    .card
      .icon.icon-wechat
      .text 微信
    .card.ml-30
      .icon.icon-weibo
      .text 微博
    .card.ml-30
      .icon.icon-tmall
      .text 天猫
  .section-two
    .column.column-one
      .part.part-phone
        .icon.icon-phone
        .lines
          .line 111-2222-333
          .line 7/24 在线服务
      .part.part-email
        .icon.icon-email
        .lines
          .line Supports
          .line service@example.com
    .column.column-two
      .part.part-address
        .icon.icon-map
        .lines
          .line （上海总部）地址地址地址地址地址地址地址地址地址地址地址地
          .line （北京分部）地址地址地址地址地址地址地址地址地址地址地址地
      .part.part-email
        .icon.icon-empty
        .lines
          .line Cooperation
          .line marketing@example.com
        .lines.ml
          .line House Resources
          .line partnership@example.com
    .column.column-three
      .part.part-links
        .lines
          .line Our Team
          .line FAQ
          .line Our Service
          .line Sitemap
          .line Join us
    .column.column-four
      .part.part-qrcode
        img.img-qrcode(src="/assets/img/diamond.jpg", alt="")
        p.desc 方便、快捷的微信公众号
  .section-three
    | Copyright &copy; 2009-2018 上海Example网络科技有限公司 沪ICP备XXXXXX号 营业执照
script(src="/assets/jquery.min.js")
script(src="/javascripts/utils.min.js")