head
  meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
  meta(http-equiv="X-UA-Compatible", content="ie=edge")
  meta(name="viewport", content="width=device-width,initial-scale=1.0,user-scalable=no")
  - var siteTitle = '网站标题'
  - var siteDesc = '网站描述信息'
  if (title)
    title #{title} | #{siteTitle}
  else
    title= siteTitle + ' | ' + siteDesc
  meta(name="description", content= siteTitle + ' | ' + siteDesc)
  meta(name="author", content="yakima")
  meta(name="renderer", content="webkit")
  link(rel='stylesheet', href='/stylesheets/style.min.css')
