.site-header
  .inner
    a.logo(href="./")

    .nav-left
      ul.items
        li.item
          a.link(href="/") 首页
        li.item
          a.link(href="javascript:void(0);") 菜单一
        li.item
          a.link(href="javascript:void(0);") 菜单二
        li.item
          a.link(href="javascript:void(0);") 菜单三
        li.item
          a.link(href="javascript:void(0);") 菜单四
        li.item
          a.link(href="javascript:void(0);") 菜单五

    .nav-right
      .section
        ul.items
          li.item
            a#login.link(href="javascript:void(0);") Log in
          li.item
            .divider |
          li.item
            a#signUp.link(href="javascript:void(0);") Sign up
      .section
        a.phone(href="javascript:void(0);") 111-2222-333
