extends ../layout

block head
  link(rel="stylesheet", href="/stylesheets/root/index.min.css")

block foot
  script(src="/javascripts/root/index.min.js")

block content
  .page.page-home
    .introduction
      .header 页面内容
